* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}


.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  align-items: center;
  background: linear-gradient(to bottom, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
  min-height: 100svh;
}

.panel {
  background-color: rgba(244,231,222,255);
  grid-column: 2 / span 10 ; 
  scroll-margin-top: 50px; /*Prevent anchor links from scrolling behind the sticky navbar */
  border-radius: 16px;
  padding: 10px;
}

#pn1 {
  background-image: url('./images/header.png');
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  color: black;
  text-align: center;
  border-radius: 16px;
  border: black solid 5px;
}

.panel >h2, #pn1 >h1 {
  padding: 10px;
  text-align: center;
  font-family: 'Yeseva One', serif;
}


#pn2 .content {
  display: grid;
  grid-template-columns: 15% auto 15%;
  margin: 10px;
}

#pn2 .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pn2 .icons img {
  width: 100%;
}

#pn2 .content .text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  border-radius: 16px;
  padding: 10px;
  font-size: x-large;
}

#pn2 .content ul {
  list-style: none;
  padding: 10px;
}

#pn2 .content li {
  padding: 5px;
}

#pn2 .content .title {
  font-weight: bold;
}

#pn2 .content .ellipsis {
  font-weight: bold;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pn4 .content {
  display: grid;
  grid-template-columns: 0.5fr 1.25fr;
  grid-template-rows: repeat(1, 1fr);
}

#pn4 .left {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  justify-content: center;
  align-items: center;
}

#pn4 .left .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  gap: 10px;
}

#pn4 .left .image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#pn4 .left img{
  height: 100px;
}

#pn4 .content .right {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
}

#pn4 .content .row1 {
  display: grid;
  grid-template-columns: 10% 10% auto;
}

#pn4 .content .row2 {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

#pn4 .content .row3 {
  display: grid;
  grid-template-columns: auto 10% 10%;
}

#pn4 .row1-text, #pn4 .row2-text, #pn4 .row3-text {
  background-color: rgba(238,216,203,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pn3 .intro {
  text-align: center;
  margin-bottom: 10px;
}


.photos-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 20px;
  padding-right: 20px;
}

.photos-main .photos {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


.photos-main .photos img{
  width: 100%;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 3px;
  transition: transform .2s; 
}

.photos-main .photos img:hover {
  transform: scale(1.1);
}

#photos-1, #photos-3 {
  border-top: black solid 2px; 
  border-right: black solid 2px ;
  border-top-right-radius: 16px;
}

#photos-2, #photos-4 {
  border-bottom: black solid 2px;
  border-right: black solid 2px ;
  border-bottom-right-radius: 16px;
}

#pn5 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pn5 .btn {
  padding: 5px;
  font-weight: bold;
  margin-top: 10px;
  background-color: rgba(225,136,130,255);
}

#pn6 {
  background-color: transparent;
}

#firework-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#firework-gif img {
  width: 100px;
}

.sun {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
}

#movingElement {
  position: fixed; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  top: 0; 
  left: 0; 
  height: 10%;
  width: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: transform 0.3s ease-out; 
  z-index: 1001;
}

#movingElement > img {
  height: 60%;
}

nav {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  background-color: rgba(244,231,222,255);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

nav li {
  height: 50px;
}

nav a {
  color: black;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav a:hover {
  background-color: rgba(238,216,203,255);
}

.sidebar {
  right: 0;
  height: 100svh;
  z-index: 1002;
  background-color: rgba(244,231,222,255);
  backdrop-filter: blur(10px); 
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.sidebar-active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  width: 100%;
}

#menu-icon {
  display: none;
}


@media (max-width: 960px) {
  #movingElement {
    height: 6%;
    width: auto;
  }
  .nav-item {
    display: none;
  }
  #menu-icon {
    display: flex;
  }
  
  #pn1 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #pn2 .content .text  {
    font-size: medium;
    padding: 5px;
  }

  #pn2 .content ul {
    padding: 5px;
  }

  #pn2 .content li {
    padding: 2px;
  }

  #pn4 .left p {
    font-size: smaller;
  }
  
  #pn4 .left img {
    width: 60px;
    height: auto;
  }

}
